.friend-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  align-items: center;
}
.status {
  width: 20px;
  height: 20px;
  background-color: d;
  border-radius: 50%;
}

.item-friend {
  display: flex;
  justify-content: left;
  align-items: center;
  border: 1px solid grey;
  padding: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  width: 300px;
  background-color: #fff;
}
.avatar-friend {
  padding: 0px 10px;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.name {
  flex-grow: 40%;
}
